@font-face {
    font-family: RobotoL;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoR;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoT;
    src: url(../fonts/Roboto-Thin.ttf);
}
.full{
  height:100vh;
  background-color: #eee;

}
.main-card{

  height:100%;
  margin:0px !important;
  padding:0px !important;
  overflow: hidden;

}
.center-card{
  height:50%;
  background-color: white;
  top:50px;
}

.left-card{
  overflow: hidden;
}
 img{
   height: auto;
 }

.right-card{
  height:100%;
  text-align: center;
}
.package p{
  font-family: RobotoL;

}

.inner-footer{
padding: 20px;
height:20px;
margin-top:5vh
}
.inner-footer a{
  padding:0vw 0.5vw 0vw 0.5vw;

}
.inner-footer a i{
  font-size: 2em;
  color:rgb(60, 230, 153);

}

@media only screen and (min-width: 500px){
.center-card{
  margin-top:10%;
  border-radius: 10px;
  border:solid rgb(60, 230, 153) 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-card{
  border-radius: 10px;
}
.package h4{
  margin-top:30px;
  font-size: 2.5vw;
  font-family: RobotoR;
  color:rgb(60, 230, 153);
}
.package .sub-heading{
  font-family: RobotoR;
  font-size:1.2vw;
  margin-top: 20px;
  color:rgb(182, 181, 181);

}
.package .content{
  margin-top: 20px;
  padding: 0px 10px 0px 10px;
  font-size:1vw;
  color: rgb(164, 164, 164);
}

}

@media only screen and (max-width: 500px){
  .main-card{
    height:100%;
  }
  .center-card{
    height:100% !important;
  }
  .left-card{
    height:55%;
  }
  img{
    width:100%;
  }
  .package h4{
    margin-top:3px;
    margin-bottom: 3px;
    font-size: 6vh;
    font-family: RobotoR;
    color:rgb(60, 230, 153);
  }
  .package .sub-heading{
    margin-bottom: 7px;
    font-family: RobotoR;
    font-size:3.2vh;
    margin-top:3px;
    color:rgb(182, 181, 181);

  }
  .package .content{
    margin-top:2px;
    padding: 0px 10px 0px 10px;
    font-size:2.5vh;
    color: rgb(164, 164, 164);
  }
  .inner-footer{
    margin-top:-30px;
  }
  .inner-footer a i{
    font-size: 2.5em;
    color:rgb(60, 230, 153);
    padding:0px 10px 0px 10px;
  }

}
